:root {
  --first-text-color: #212121;
  --second-text-color: #757575;
  --button-color: #2196f3;
  --main-title-color: #ffffff;
  --background-color: #2f303a;
  --main-background-color: #e5e5e5;
  --border-color: #afb1b8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'roboto';
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.btn {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--main-title-color);
  background-color: var(--button-color);
  cursor: pointer;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* --------------header---------------- */
.header {
  background-color: var(--main-title-color);
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  display: flex;
}

.header-list {
  font-family: roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  padding-left: 0;
}

.logo {
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-right: 93px;
}
.logo-color-first {
  color: var(--button-color);
}
.header-link {
  color: var(--first-text-color);
}

.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-item {
  position: relative;
}

.header-link.current::after {
  content: '';
  height: 4px;
  width: 100%;
  background-color: var(--button-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -33px;
}
.header-link:hover,
.header-link:focus {
  color: var(--button-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link-contacts {
  color: var(--second-text-color);
}

.contacts:not(:last-child) {
  margin-right: 50px;
}

.header-link-contacts:hover,
.header-link-contacts:focus {
  color: var(--button-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link-contacts:hover .header-icon,
.header-link-contacts:focus .header-icon {
  fill: var(--button-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link-contacts {
  display: flex;
}

.header-icon {
  fill: var(--second-text-color);
  margin-right: 10px;
}

/* -------------- hero------------ */
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title-bg {
  background-color: var(--background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
  width: 696px;

  margin: 0 auto;
}
.hero-button {
  width: 216px;
  height: 56px;
  border-radius: 4px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
}

/* ------------ about us ------------ */
.about {
  background-color: var(--main-title-color);
}
.about-wrap {
  display: flex;
}
.about-item {
  width: 270px;
}
.about-item:not(:last-child) {
  margin-right: 30px;
}
.about-title {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-color);
  margin-bottom: 10px;
}
.about-text {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.about-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
}

/* ------------ what we are doing? ------------ */
.doing {
  background-color: var(--main-title-color);
  padding-bottom: 94px;
}
.doing-list {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 0;
}

.doing-item:not(:last-child) {
  margin-right: 30px;
}
.doing-item {
  position: relative;
}
.doing-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  color: var(--main-title-color);
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.title {
  font-family: Roboto;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin: 0 auto;
}
/* title for : doing and team */

/* ------------ our team ------------ */
.team {
  background-color: #f5f4fa;
}
.team-title {
  margin-bottom: 50px;
}

.team-item-title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-bottom: 10px;
}

.team-item-text {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.team-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.team-item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-right: 30px;
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
/* .team-item:not(:last-child) {
  margin-right: 30px;
} */
.team-item-content {
  display: flex;
  flex-direction: column;
  background-color: var(--main-title-color);
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}
.team-social-item {
  width: 44px;
  height: 44px;
}
.team-social-item:not(:last-child) {
  margin-right: 10px;
}
.team-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--border-color);
}
.team-icon {
  fill: currentColor;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover .team-icon,
.team-social-link:focus .team-icon {
  fill: var(--main-title-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ----------------- clients ------------ */

.clients-title {
  font-family: Roboto;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--first-text-color);
}
.clients-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.clients-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-radius: 4px;
  border-color: var(--border-color);
}
.clients-link {
  width: 100%;
  height: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-icon {
  fill: var(--border-color);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--button-color);
}
.clients-item:hover,
.clients-item:focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-color: var(--button-color);
}
/* -------------- footer ------------ */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
  color: var(--main-title-color);
}
.footer-list {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-map {
  color: var(--main-title-color);
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-map:focus,
.footer-map:hover {
  color: var(--button-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts:focus,
.footer-contacts:hover {
  color: var(--button-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-container {
  display: flex;
}

.footer-social {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.footer-title {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
}
.footer-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-social-item:not(:last-child) {
  margin-right: 10px;
}
.footer-icon {
  fill: var(--main-title-color);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--button-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe {
  margin-left: 93px;
}
.footer-input-wrap {
  display: flex;
}
.footer__subscribe-btn {
  width: 200px;
  height: 50px;
  color: var(--main-title-color);
  background-color: var(--button-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
}
.footer-btn-icon {
  margin-left: 10px;
}
.footer-input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-family: Roboto;
  font-size: 16px;
  line-height: 1.25px;
  letter-spacing: 0.03em;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

/* -------------- modal ------------------ */
.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms, visibility 3000ms;
}
.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  background-color: var(--main-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: scale(1) skew(0) translate(-50%, -50%);

  transition: transform 300ms;
  padding: 40px;
}
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--main-title-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.backdrop.is-hidden .modal {
  transform: scale(0.5) skew(20deg, 70deg) translate(100px, 100px);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}
.modal-title {
  width: 448px;
  height: 23px;
  font-family: Roboto;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--first-text-color);
}
.modal-form-field {
  margin-bottom: 6px;
}
.modal-input {
  display: block;
  margin-top: 4px;
  width: 448px;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  padding-right: 25px;
}
.modal-input-wrap {
  position: relative;
}
.modal-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  transition: fill 300ms linear;
}
.modal-text {
  margin-top: 4px;
  width: 448px;
  height: 120px;
  outline: none;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

.modal-check-text {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.modal-policy-text {
  margin-left: 3px;
  color: var(--button-color);
  /* text-decoration: underline;
  text-decoration-style: solid; */
}
.modal-check-text::before {
  content: '';
  display: block;
  width: 16px;
  height: 15px;
  background-image: url(../images/check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 7px;
}

.modal-check:checked + .modal-check-text::before {
  background-image: url(../images/checked.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.modal-submit-btn {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-title-color);

  width: 200px;
  height: 50px;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.modal-btn {
  display: flex;
  justify-content: center;
}
.modal-input:focus,
.modal-text:focus {
  border-color: var(--button-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-icon {
  fill: var(--button-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* ----------- portfolio ----------------- */
.portfolio {
  background-color: var(--main-title-color);
  padding-top: 100px;
  padding-bottom: 94px;
}
.portfolio-btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
}
.portfolio-btn:focus,
.portfolio-btn:hover {
  color: var(--main-title-color);
  background-color: var(--button-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title {
  font-family: Roboto;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
  margin-bottom: 4px;
}

.portfolio-text {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.portfolio-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}
.portfolio-btn-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
}

.portfolio-item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-bottom: 30px;
  margin-right: 30px;
}
.portfolio-item-content {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.portfolio-item:hover,
.portfolio-item:focus {
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-wrap-text {
  position: absolute;
  top: 0;
  left: 0;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--main-title-color);
  transform: translateY(100%);
  transition: transform 300ms;
}
.portfolio-item:hover .portfolio-wrap-text {
  transform: translateY(0%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
