:root {
  --first-text-color: #212121;
  --second-text-color: #757575;
  --button-color: #2196f3;
  --main-title-color: #ffffff;
  --background-color: #2f303a;
  --main-background-color: #e5e5e5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'roboto';
  background-color: var(--main-background-color);
  /* width: 1600px; */
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.btn {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--main-title-color);
  background-color: var(--button-color);
  cursor: pointer;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* --------------header---------------- */
.header {
  background-color: var(--main-title-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  display: flex;
}

.header-list {
  font-family: roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  padding-left: 0;
}

.logo {
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-right: 93px;
}
.logo-color-first {
  color: var(--button-color);
}
.header-link {
  color: var(--first-text-color);
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link:hover,
.header-link:focus {
  color: var(--button-color);
}
.header-link-contacts {
  color: var(--second-text-color);
}

.contacts:not(:last-child) {
  margin-right: 50px;
}

.header-link-contacts:hover,
.header-link-contacts:focus {
  color: var(--button-color);
}

/* -------------- hero------------ */
.hero-container {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title-bg {
  background-color: var(--background-color);
}

.hero-title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
  width: 696px;
  height: 120px;
  margin: 0 auto;
}
.hero-button {
  width: 216px;
  height: 56px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
}

/* ------------ about us ------------ */
.about {
  background-color: var(--main-title-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.about-wrap {
  display: flex;
}
.about-item {
  width: 270px;
}
.about-item:not(:last-child) {
  margin-right: 30px;
}
.about-title {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-color);
  margin-bottom: 10px;
}
.about-text {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/* ------------ what we are doing? ------------ */
.doing {
  padding-bottom: 94px;
  background-color: var(--main-title-color);
}
.doing-wrap {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 0;
}

.doing-item:not(:last-child) {
  margin-right: 30px;
}

.title {
  font-family: Roboto;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin: 0 auto;
}
/* title for : doing and team */

/* ------------ our team ------------ */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  margin-bottom: 50px;
}

.team-item-title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-bottom: 10px;
}

.team-item-text {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.team-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.team-item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-right: 30px;
  margin-bottom: 30px;
}
/* .team-item:not(:last-child) {
  margin-right: 30px;
} */
.team-item-content {
  display: flex;
  flex-direction: column;
  background-color: var(--main-title-color);
  padding-top: 30px;
  padding-bottom: 30px;
}

/* -------------- footer ------------ */

.footer-bg {
  background-color: var(--background-color);
}

.logo-color-footer {
  color: var(--main-title-color);
}
.footer-link {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer-map {
  color: var(--main-title-color);
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-map:focus,
.footer-map:hover {
  color: var(--button-color);
}
.footer-contacts:focus,
.footer-contacts:hover {
  color: var(--button-color);
}

/* ----------- portfolio ----------------- */
.portfolio-btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
}
.portfolio-btn:focus,
.portfolio-btn:hover {
  color: var(--main-title-color);
  background-color: var(--button-color);
}

.portfolio-title {
  font-family: Roboto;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
}

.portfolio-text {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
