.team {
  background-color: #f5f4fa;
}
.team__title {
  margin-bottom: 50px;
}

.team__item--title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-bottom: 10px;
}

.team__item--text {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.team__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.team__item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-right: 30px;
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
/* .team__item:not(:last-child) {
  margin-right: 30px;
} */
.team__item--content {
  display: flex;
  flex-direction: column;
  background-color: var(--main-title-color);
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__list--social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}
.team__item--social {
  width: 44px;
  height: 44px;
}
.team__item--social:not(:last-child) {
  margin-right: 10px;
}
.team__link--social {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--border-color);
}
.team--icon {
  fill: currentColor;
}

.team__link--social:hover,
.team__link--social:focus {
  background-color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link--social:hover .team--icon,
.team__link--social:focus .team--icon {
  fill: var(--main-title-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
