:root {
  --first-text-color: #212121;
  --second-text-color: #757575;
  --button-color: #2196f3;
  --main-title-color: #ffffff;
  --background-color: #2f303a;
  --main-background-color: #e5e5e5;
  --border-color: #afb1b8;
}
